.darkmode {
    #screen-on,
    #screen-on_2,
    #screen-on_6,
    #screen-on_4 {
        animation: 1s fadeOut 0s forwards;
    }

    #screen-on_5,
    #screen-on_3 {
        animation: 1s fadeOut 1s forwards;
    }
    #Vector_35, #Vector_39, #Vector_43 {
        fill: var(--ion-color-primary);
    }
}

#screen-on, #screen-on_3 {
    animation: 1s fadeIn 0s forwards;
}

#screen-on_2, #screen-on_4 {
    animation: 1s fadeIn 1s forwards;
}

#screen-on_5, #screen-on_6 {
    animation: 1s fadeIn 1.2s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        fill: #3F3D56;
    }

    100% {
        opacity: 1;
        fill: #D4DFEC;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0;
        fill: #D4DFEC;
    }

    100% {
        opacity: 1;
        fill: #3F3D56;
    }
}