  .full-screen-background {
    margin-top: 50px;
    background-image: url('../../assets/shapes.svg'); /* Adjust the path as needed */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh; /* 100% of the viewport height */
    width: 100vw; /* 100% of the viewport width */
    position: fixed; /* Ensures the background is fixed during content scrolling */
    top: 0;
    left: 0;
    z-index: -1; /* Ensures the background stays behind other content */
  }

  .name-tag-container {
    display: flex; /* Enable Flexbox */
    align-items: center; /* Vertically center the flex items */
    justify-content: center; /* Horizontally center the flex items (if needed) */
    width: 100%;
    margin-top: 10vh
  }

  .name-tag {
    border-radius: 20px;
    max-width: 800px;
    min-height: 500px;
    width: 100%;
    border: 2px solid #000; /* Black border for the name tag */
    background-color: var(--ion-color-primary); /* Light red background, typical for a name tag */
    color: white; /* Black text color */
    text-align: center; /* Center the text */
    font-size: 5em;
    font-family: Arial, sans-serif; /* Default font for the greeting */

    .greeting {
      font-size: 2em;
      span {

        font-size: 3em; /* Slightly larger font for the greeting */
      }
      margin-bottom: 15px; /* Space between the greeting and the name */
    }
    
    .name {
      font-size: 5em; /* Larger font size for the name */
      font-family: 'Indie Flower', cursive; /* Handwriting-like font */
      color: black;
    }
  
    ion-card-content {
      position: relative; /* Allows absolute positioning relative to this container */
    }
    
    .full-width-div {
      position: absolute; /* Position the div absolutely to break it out of the normal document flow */
      left: 0; /* Align to the left edge of ion-card-content */
      right: 0; /* Align to the right edge of ion-card-content */
      bottom: 0px;
      width: 100%;
      background-color: white;
      display: flex; /* Enable Flexbox */
      align-items: center; /* Vertically center the flex items */
      justify-content: center; /* Horizontally center the flex items (if needed) */
      height: 200px;
      text-align: center; /* Center the text horizontally if it's not a flex item */
    }

    .no-padding {
      --padding-start: 0;
      --padding-end: 0;
      --padding-top: 0;
      --padding-bottom: 0;
    }

    .spacer {
      height: 200px; /* Should match the height of the absolutely positioned div */
    }
  }