.container {
    background: linear-gradient(90deg, var(--ion-color-primary) 65%, var(--ion-color-light) 35%);
    height: 100%
}

.greeting {
    margin-left: 10%;
    font-family: Caveat;
    font-size: 3vw;
    transform: rotate(-20deg);
}

.hero-text {
    font-family: 'Signika';
    font-weight: bold;
    margin-left: 15%;
}

.toolbar-dark {
    background: linear-gradient(90deg, var(--ion-color-primary) 65%, var(--ion-color-light) 35%);;
    font-family: Signika;
    font-weight: bold;
    font-size: x-large;
}

ion-grid {
    height: 100%;
}

.left {
    background-color: var(--ion-color-primary);
}

.right {
    background-color: var(--ion-color-light);
}