<ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Navigation</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
        <ion-list>
            <ion-item>
                <ion-icon name="pizza" slot="start"></ion-icon>
                <ion-label>Pizza</ion-label>
            </ion-item>
        </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-item color="light" lines="none" slot="start">
            <ion-img style="max-width: 50px; height: auto;" src="../assets/angular-logo.png"></ion-img>
            <ion-text color="dark" style="font-weight: bold;">
                Derrick Fink
            </ion-text>
        </ion-item>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="full-screen-background">
        <div class="name-tag-container">
          <ion-card class="name-tag">
            <ion-card-content class="no-padding">
              <!-- Content that requires padding -->
              <div class="padded-content">
                <div class="greeting"><span>Hello, <br></span> my name is</div>
              </div>
              <div class="spacer"></div>
              <!-- Your full-width div -->
              <div class="full-width-div">
                <h1 class="name">Derrick Fink</h1>
              </div>
            </ion-card-content>
            <div class="padded-content">
              <span style="font-size: medium;">it's nice to meet you</span>
            </div>
          </ion-card>
        </div>
        </div>
    </ion-content>
  </div>